<div class="container">
  <h1>Available Times</h1>

  <%= form_tag available_times_path, method: :patch do %>
  <div class="row mb-2">
    <% @available_times.each do |available_time| %>
      <%= fields_for "available_times[#{available_time.id}]", available_time do |atf| %>
        <div class="col">
          <p><%= t(:"date.abbr_day_names")[available_time.week_day] %></p>
          <%= atf.hidden_field :week_day %>
          <div class="form-group">
            <%= atf.time_field :starts_on, class: "form-control mb-2" %>
            <%= atf.time_field :ends_on, class: "form-control" %>
          </div>
        </div>
      <% end %>
      <hr>
      <% end %>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>

  <h4>Available Appoinment Slots</h4>
  <table class="table">
    <thead>
      <th>Week day</th>
      <th>Starts on</th>
      <th>Ends on</th>
    </thead>
    <tbody>
      <% @appointment_slots.each do |appointment_slot| %>
        <tr>
          <td><%= t(:"date.day_names")[appointment_slot.week_day] %></td>
          <td><%= l appointment_slot.starts_on, format: :time %></td>
          <td><%= l appointment_slot.ends_on, format: :time %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
